.login-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-color: #f0f0f2;
    /* padding-bottom: 50px; */
  }
  
  .login-form {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 300px;
  }
  
  .form-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .btn-submit, .btn-toggle {
    background: #95a8eb;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-weight: bold;
    min-width: 155px;
  }
  
  .btn-submit:hover, .btn-toggle:hover {
    background: #7e89b0;
    font-weight: bold;
  }
  
  .btn-submit.active, .btn-toggle.active {
    background: #575e79; 
    font-weight: bold;
  }